body {
  font-size: 14px;
  font-family: arial, verdena, sans-serif;
  margin: 0;
  padding: 0;
  color: #555;
  background-color: #F2F2F2; }

a {
  text-decoration: none;
  color: #686868; }
  a:hover {
    text-decoration: none; }

.clear {
  clear: both; }

.loading {
  background: url(../img/ajax-loader.gif) no-repeat 50% 50%;
  width: 100%;
  height: 40px; }

.error, article.homePage section.login .loginError {
  color: red;
  text-align: center;
  padding: 5px 0;
  font-size: 1.1em; }

.errorMessage {
  text-align: center;
  padding: 20px 0;
  color: #444;
  font-size: 1.1em; }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style: none;
  margin: 0; }

li.menuTab {
  border-bottom: 1px solid #e8e8e8;
  background-color: #fff; }
  li.menuTab:nth-child(odd) {
    background-color: #f6f6f6; }
  li.menuTab:hover {
    background-color: #eee; }
  li.menuTab a {
    color: #686868;
    text-decoration: none;
    padding: 15px; }
    li.menuTab a:hover {
      color: #686868;
      text-decoration: none; }
  li.menuTab .company {
    display: block; }
    li.menuTab .company img {
      margin: 0 10px 0 0;
      vertical-align: middle; }
    li.menuTab .company span {
      font-size: 1.5em;
      vertical-align: middle; }
    li.menuTab .company i {
      float: right;
      font-size: 2.2em; }

.subMenu {
  border-bottom: 2px solid #e8e8e8;
  background-color: #fff;
  min-height: 55px;
  position: relative; }
  .subMenu .back {
    font-size: 2.2em;
    padding: 10px 15px;
    display: inline-block;
    border-right: 1px solid #e8e8e8;
    background-color: #f6f6f6;
    vertical-align: middle; }
  .subMenu .info {
    display: inline-block;
    vertical-align: middle;
    padding: 15px 0;
    white-space: nowrap;
    width: 80%;
    overflow: hidden; }
    .subMenu .info .name {
      color: #000;
      font-weight: bold;
      font-size: 1.5em;
      padding: 0 0 0 15px; }
    .subMenu .info .separator {
      font-size: 1.5em;
      padding: 0 10px; }
    .subMenu .info .title {
      font-size: 1.5em;
      color: #999; }
  .subMenu .infoSubName {
    padding: 0; }
    .subMenu .infoSubName .subName {
      display: block;
      padding: 0 0 0 15px; }
  .subMenu .navCompany {
    float: right;
    height: 45px;
    padding: 10px 15px 0 15px;
    background-color: #f6f6f6;
    border-left: 1px solid #e8e8e8;
    cursor: pointer; }
    .subMenu .navCompany i {
      font-size: 2.2em; }

nav.mainManu {
  background-color: #282b33;
  color: #fff;
  border-bottom: 3px solid #eb0000; }
  nav.mainManu a {
    display: block;
    float: left;
    color: #fff; }
  nav.mainManu .logo {
    background: url(../img/logo-white.png) no-repeat 50% 50%;
    width: 167px;
    height: 48px;
    margin: 12px 10px 12px 15px; }
  nav.mainManu .rightMenu {
    float: right; }
    nav.mainManu .rightMenu a:hover {
      background-color: #282828; }
    nav.mainManu .rightMenu i {
      padding: 22px 25px;
      font-size: 2em; }
    nav.mainManu .rightMenu .search {
      border-left: 1px solid #222; }
    nav.mainManu .rightMenu .list {
      border-left: 1px solid #222;
      border-right: 1px solid #222; }

article.homePage {
  background-color: #282b33;
  position: relative; }
  article.homePage section.header {
    background: url(../img/login-mountains.jpg) no-repeat 50% 0% #a11218;
    background-size: 100% auto;
    min-height: 200px;
    max-height: 350px;
    position: relative; }
    article.homePage section.header .logo {
      background: url(../img/logo-white.png) 50% 50% no-repeat;
      width: 100%;
      height: 48px;
      position: absolute;
      top: 35%; }
    article.homePage section.header .arrow {
      position: absolute;
      bottom: -20px;
      left: 49%;
      background: url(../img/login-mountains.jpg) no-repeat;
      width: 40px;
      height: 20px; }
      article.homePage section.header .arrow .arrowMask {
        background: url(../img/login-arrow.png) no-repeat;
        width: 40px;
        height: 20px; }
  article.homePage section.login .wrapperLogin {
    width: 70%;
    margin: auto; }
  article.homePage section.login h1 {
    margin: 0;
    padding: 60px 0 50px;
    text-align: center;
    color: #fff;
    font-size: 2em;
    font-weight: bold; }
  article.homePage section.login .boxLogin {
    background-color: #23242c;
    border-radius: 5px;
    padding: 5px 45px 5px 5px; }
  article.homePage section.login input#loginEmail, article.homePage section.login input#loginPassword {
    border: medium none;
    display: block;
    margin: 0;
    padding: 20px;
    font-size: 1.6em;
    border-radius: 5px 5px 0 0;
    width: 100%; }
  article.homePage section.login input#loginPassword {
    border-top: 1px solid #DFDFDF;
    border-radius: 0 0 5px 5px; }
  article.homePage section.login .loginError {
    padding: 0 0 15px; }
  article.homePage section.login .loginButton {
    color: #fff;
    font-weight: bold;
    font-size: 1.6em;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    border: 2px solid #23242c;
    background-color: #eb0000;
    width: 100%;
    margin: 20px 0;
    display: inline-block; }
  article.homePage section.forgotPassword {
    position: absolute;
    bottom: 0;
    width: 100%; }
    article.homePage section.forgotPassword .button {
      color: #fff;
      font-size: 1.6em;
      text-align: center;
      padding: 15px;
      border: none;
      background-color: #eb0000;
      display: block; }
  article.homePage section.forgot input#loginEmail, article.homePage section.forgot section.login input#loginPassword, article.homePage section.login section.forgot input#loginPassword {
    border-radius: 5px 5px 5px 5px; }
  article.homePage section.forgot h1 {
    padding: 60px 0 20px; }
  article.homePage section.forgot h4 {
    color: #eee;
    font-size: 1em;
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-weight: normal; }

nav.companyManu {
  text-align: center; }
  nav.companyManu .box {
    display: inline-block;
    border: 1px solid #e8e8e8;
    text-align: center;
    min-width: 150px;
    margin: 0 0 15px 15px;
    background-color: #fff; }
    nav.companyManu .box:hover {
      border-top: 1px solid #eb0000; }
  nav.companyManu i {
    font-size: 5em;
    padding: 25px 0;
    color: #eb0000; }
  nav.companyManu span {
    border-top: 2px solid #e8e8e8;
    background-color: #f6f6f6;
    text-align: center;
    display: block;
    padding: 10px 0; }

.popupMenu {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
  display: none; }
  .popupMenu .barMenu {
    color: #fff;
    font-size: 2.2em;
    padding: 10px 0;
    background-color: #3b3f4c; }
  .popupMenu i {
    padding: 0 15px; }
  .popupMenu .companyMenu {
    background-color: #3b3f4c;
    margin-left: 50px; }

article.dashboard .boxesDashboard {
  padding: 15px 0 0; }

article.companyGeneral .boxes .box {
  display: block;
  margin: 15px;
  border: 1px solid #e8e8e8; }
  article.companyGeneral .boxes .box .bar {
    display: block;
    background-color: #fff;
    font-size: 1.5em;
    height: 80px;
    cursor: pointer; }
    article.companyGeneral .boxes .box .bar .title {
      padding: 20px 0 0;
      vertical-align: middle;
      display: inline-block; }
    article.companyGeneral .boxes .box .bar .icon i {
      font-size: 1.8em;
      padding: 21px 20px 0;
      color: #eb0000;
      vertical-align: middle; }
    article.companyGeneral .boxes .box .bar .arrow i {
      float: right;
      padding: 18px 20px 0 20px;
      font-size: 2.2em;
      border-left: 1px solid #e8e8e8;
      height: 62px; }
    article.companyGeneral .boxes .box .bar .arrow .upArrow {
      background-color: #f6f6f6; }
  article.companyGeneral .boxes .box .collapse {
    background-color: #f6f6f6; }
    article.companyGeneral .boxes .box .collapse .row {
      font-size: 1.2em;
      padding: 10px 0;
      margin: 0 15px;
      border-top: 1px solid #e8e8e8; }
      article.companyGeneral .boxes .box .collapse .row:first-child {
        border: none; }
      article.companyGeneral .boxes .box .collapse .row .name {
        font-weight: bold;
        min-width: 150px;
        display: inline-block; }
    article.companyGeneral .boxes .box .collapse .rowTickers .name {
      float: left; }
    article.companyGeneral .boxes .box .collapse .rowTickers ul {
      float: left; }
    article.companyGeneral .boxes .box .collapse .rowTickers li {
      display: inline; }
    article.companyGeneral .boxes .box .collapse .graph {
      text-align: center;
      margin: 5px; }
    article.companyGeneral .boxes .box .collapse .graphZscore .chart {
      height: 200px;
      width: 400px;
      margin: auto; }
    article.companyGeneral .boxes .box .collapse .graphCustom .selectItem {
      margin: 10px 0;
      padding: 10px 5px; }

.light {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px; }
  .light.red {
    background-color: red; }
  .light.yellow {
    background-color: gold; }
  .light.green {
    background-color: green; }

article.noteRead .addNew {
  border-bottom: 2px solid #e8e8e8;
  background-color: #f6f6f6;
  font-size: 1.5em;
  color: #999;
  display: block; }
  article.noteRead .addNew i {
    font-weight: bold;
    padding: 10px 10px;
    vertical-align: middle; }
article.noteRead .note {
  padding: 10px 0;
  border-bottom: 1px solid #e8e8e8;
  background-color: #fff;
  position: relative; }
  article.noteRead .note:nth-child(even) {
    background-color: #f6f6f6; }
  article.noteRead .note .avatar {
    margin: 0 10px;
    display: inline-block;
    width: 125px;
    height: 125px;
    border: 2px solid #e8e8e8;
    border-radius: 6px;
    vertical-align: top;
    background-size: 100% 100%; }
  article.noteRead .note .info {
    display: inline-block;
    width: 65%; }
    article.noteRead .note .info .date {
      position: absolute;
      right: 10px;
      top: 10px;
      color: #999; }
    article.noteRead .note .info .author {
      font-size: 1.5em;
      vertical-align: middle; }
    article.noteRead .note .info .message {
      padding: 5px 4px 2px; }

article.addNote .inputSubject {
  display: inline-block;
  width: 96%;
  padding: 1%;
  margin: 1%;
  border: 1px solid #e8e8e8;
  font-size: 1.6em; }
article.addNote .inputTextarea {
  display: inline-block;
  width: 96%;
  height: 160px;
  padding: 1%;
  margin: 0 1% 1% 1%;
  border: 1px solid #e8e8e8;
  font-size: 1.6em; }
article.addNote .error, article.addNote article.homePage section.login .loginError, article.homePage section.login article.addNote .loginError {
  text-align: center;
  padding: 20px 0 0; }
article.addNote .priority {
  margin: 0 0 0 1%; }
  article.addNote .priority button {
    width: 33%;
    border: 1px solid #e8e8e8;
    font-size: 1.6em;
    margin: 0;
    padding: 20px 0;
    float: left; }
    article.addNote .priority button .light {
      width: 15px;
      height: 15px;
      margin: 0 10px 0 0; }
article.addNote .errorMessage .btn {
  padding: 10px 15px;
  background-color: #282b33;
  color: #fff;
  border-radius: 5px; }

article.searchCompany .enterTxt {
  border-bottom: 2px solid #e8e8e8;
  background-color: #f6f6f6;
  display: block;
  padding: 10px 1%; }
  article.searchCompany .enterTxt input {
    border: 2px solid #e8e8e8;
    border-radius: 5px;
    font-size: 1.6em;
    padding: 10px 1%;
    width: 76%; }
  article.searchCompany .enterTxt button {
    border: 2px solid #e8e8e8;
    border-radius: 5px;
    font-size: 1.6em;
    padding: 10px;
    background-color: #fff;
    width: 20%; }
  article.searchCompany .enterTxt .error, article.searchCompany .enterTxt article.homePage section.login .loginError, article.homePage section.login article.searchCompany .enterTxt .loginError {
    padding: 0 0 5px; }
