<nav class="companyManu">
    <a class="box" href="#company/{{company.companyId}}/{{company.companyKind}}">
        <i class="fa fa-info-circle"></i>
        <span>General Information</span>
    </a>
    <a class="box" href="#reportRisk/{{company.companyId}}/{{company.companyKind}}">
        <i class="fa fa-table"></i>
        <span>Risk summary</span>
    </a>
    <a class="box" href="#reportPL/{{company.companyId}}/{{company.companyKind}}">
        <i class="fa fa-area-chart"></i>
        <span>P&L Statement</span>
    </a>
    <a class="box" href="#reportBalance/{{company.companyId}}/{{company.companyKind}}">
        <i class="fa fa-pie-chart"></i>
        <span>Balance Sheet</span>
    </a>
    <a class="box" href="#notes/{{company.companyId}}/{{company.companyKind}}">
        <i class="fa fa-thumb-tack"></i>
        <span>Notes</span>
    </a>
</nav>