<div ng-include src="'menu.html'"></div>
<article class="companyGeneral report">
    
    <div class="subMenu">
        <a class="back" href="" back-button><i class="fa fa-angle-left"></i></a>
        <div class="info infoSubName">
            <span class="name">{{company.companyName}}</span>
            <span class="subName">P&L Statement</span>
        </div>
        <div class="navCompany"><i class="fa fa-bars"></i></div>
        <div class="popupMenu">
            <div class="barMenu"><i class="fa fa-bars"></i>{{company.companyName}}</div>
            <div class="companyMenu" ng-include src="'partials/companyMenu.html'"></div>
        </div>
    </div>

    <div class="loading" ng-show="loading"></div>   

    <div class="boxes" ng-show="!loading">
        
        <div class="box">
            <a class="bar" ng-click="(showEbitda || loadedEbitda) ? '' : chartEbitdaPriv(); showEbitda = !showEbitda">
                <span class="icon"><i class="fa fa-bar-chart"></i></span>
                <span class="title">EBITDA Margin</span>
                <span class="arrow"><i class="fa" ng-class="{'fa-angle-up upArrow' : showEbitda, 'fa-angle-down' : !showEbitda}"></i></span>
            </a>
            <div class="collapse" ng-show="showEbitda">
                <div class="graph graphEbitdaPriv">
                    <div class="loading" ng-show="!loadingItems"></div>  
                    <canvas width="320" height="160"></canvas>
                </div>
            </div>
        </div>
        
        <div class="box">
            <a class="bar" ng-click="(showNet || loadedNet) ? '' : chartNetPriv(); showNet = !showNet">
                <span class="icon"><i class="fa fa-signal"></i></span>
                <span class="title">Net Profit</span>
                <span class="arrow"><i class="fa" ng-class="{'fa-angle-up upArrow' : showNet, 'fa-angle-down' : !showNet}"></i></span>
            </a>
            <div class="collapse" ng-show="showNet">
                <div class="graph graphNetPriv">
                    <div class="loading" ng-show="!loadingItems"></div>  
                    <canvas width="320" height="160"></canvas>
                </div>
            </div>
        </div>
        
        <div class="box">
            <a class="bar" ng-click="(showIncome || loadedIncome) ? '' : chartIncomePriv(); showIncome = !showIncome">
                <span class="icon"><i class="fa fa-area-chart"></i></span>
                <span class="title">Income Statement</span>
                <span class="arrow"><i class="fa" ng-class="{'fa-angle-up upArrow' : showIncome, 'fa-angle-down' : !showIncome}"></i></span>
            </a>
            <div class="collapse" ng-show="showIncome">
                <div class="graph graphCustom graphIncomePriv">
                    <div class="loading" ng-show="!loadedIncome"></div>
                    <select class="selectItem" ng-show="loadedIncome" ng-change="changeItemPriv()" ng-model="selectedItem">
                        <option ng-show="name.private" ng-repeat="name in names" value="{{name.private}}">{{name.name}}</option>
                    </select>
                    <br>
                    <div class="canvas"></div>
                </div>
            </div>
        </div>
        
    </div>
</article>

<script>
    $(function(){
      $.getScript('lib/chart/ChartNew.js');  
    });
</script>