<div ng-include src="'menu.html'"></div>
<article class="companyGeneral report">
    
    <div class="subMenu">
        <a class="back" href="" back-button><i class="fa fa-angle-left"></i></a>
        <div class="info infoSubName">
            <span class="name">{{company.companyName}}</span>
            <span class="subName">Risk Summary</span>
        </div>
        <div class="navCompany"><i class="fa fa-bars"></i></div>
        <div class="popupMenu">
            <div class="barMenu"><i class="fa fa-bars"></i>{{company.companyName}}</div>
            <div class="companyMenu" ng-include src="'partials/companyMenu.html'"></div>
        </div>
    </div>

    <div class="loading" ng-show="loading"></div>   

    <div class="boxes" ng-show="!loading">
        
        <div class="box">
            <a class="bar" ng-click="(showZscore || loadedZscore) ? '' : chartZscore(); showZscore = !showZscore">
                <span class="icon"><i class="fa fa-line-chart"></i></span>
                <span class="title">Z-score</span>
                <span class="arrow"><i class="fa" ng-class="{'fa-angle-up upArrow' : showZscore, 'fa-angle-down' : !showZscore}"></i></span>
            </a>
            <div class="collapse" ng-show="showZscore">
                <div class="graph graphZscore">
                    <div class="loading"></div>  
                    <div class="chart"></div>
                </div>
            </div>
        </div>
        
        <div class="box">
            <a class="bar" ng-click="(showNews || loadedNews) ? '' : chartNews(); showNews = !showNews">
                <span class="icon"><i class="fa fa-newspaper-o"></i></span>
                <span class="title">News Sentiment Index</span>
                <span class="arrow"><i class="fa" ng-class="{'fa-angle-up upArrow' : showNews, 'fa-angle-down' : !showNews}"></i></span>
            </a>
            <div class="collapse" ng-show="showNews">
                <div class="graph graphNews">
                    <div class="loading"></div>  
                    <canvas width="400" height="200"></canvas>
                </div>
            </div>
        </div>
        
        <div class="box">
            <a class="bar" ng-click="(showNotes || loadedNotes) ? '' : chartNotes(); showNotes = !showNotes">
                <span class="icon"><i class="fa fa-pencil-square-o"></i></span>
                <span class="title">Notes</span>
                <span class="arrow"><i class="fa" ng-class="{'fa-angle-up upArrow' : showNotes, 'fa-angle-down' : !showNotes}"></i></span>
            </a>
            <div class="collapse" ng-show="showNotes">
                <div class="graph graphNotes">
                    <div class="loading"></div>  
                    <canvas width="400" height="200"></canvas>
                </div>
            </div>
        </div>
        
        <div class="box">
            <a class="bar" ng-click="showRatio = !showRatio">
                <span class="icon"><i class="fa fa-bar-chart"></i></span>
                <span class="title">Choose ratio</span>
                <span class="arrow"><i class="fa" ng-class="{'fa-angle-up upArrow' : showRatio, 'fa-angle-down' : !showRatio}"></i></span>
            </a>
            <div class="collapse" ng-show="showRatio">
                ...
            </div>
        </div>
        
    </div>
</article>

<script src="lib/chart/ChartNew.js"></script>
<script src="lib/highcharts/highcharts.js"></script>