<div ng-include src="'menu.html'"></div>
<article class="companyGeneral report">
    
    <div class="subMenu">
        <a class="back" href="" back-button><i class="fa fa-angle-left"></i></a>
        <div class="info infoSubName">
            <span class="name">{{company.companyName}}</span>
            <span class="subName">P&L Statement</span>
        </div>
        <div class="navCompany"><i class="fa fa-bars"></i></div>
        <div class="popupMenu">
            <div class="barMenu"><i class="fa fa-bars"></i>{{company.companyName}}</div>
            <div class="companyMenu" ng-include src="'partials/companyMenu.html'"></div>
        </div>
    </div>

    <div class="loading" ng-show="loading"></div>   

    <div class="boxes" ng-show="!loading">
        
        <div class="box">
            <a class="bar" ng-click="(showRevenue || loadedRevenue) ? '' : chartRevenue(); showRevenue = !showRevenue">
                <span class="icon"><i class="fa fa-line-chart"></i></span>
                <span class="title">Revenue</span>
                <span class="arrow"><i class="fa" ng-class="{'fa-angle-up upArrow' : showRevenue, 'fa-angle-down' : !showRevenue}"></i></span>
            </a>
            <div class="collapse" ng-show="showRevenue">
                <div class="graph graphRevenue">
                    <div class="loading" ng-show="!loadingItems"></div>  
                    <canvas width="400" height="200"></canvas>
                </div>    
            </div>
        </div>
    
        <div class="box">
            <a class="bar" ng-click="(showEbitda || loadedEbitda) ? '' : chartEbitda(); showEbitda = !showEbitda">
                <span class="icon"><i class="fa fa-area-chart"></i></span>
                <span class="title">EBITDA Margin</span>
                <span class="arrow"><i class="fa" ng-class="{'fa-angle-up upArrow' : showEbitda, 'fa-angle-down' : !showEbitda}"></i></span>
            </a>
            <div class="collapse" ng-show="showEbitda">
                <div class="graph graphEbitda">
                    <div class="loading" ng-show="!loadingItems"></div>  
                    <canvas width="400" height="200"></canvas>
                </div>
            </div>
        </div>
        
        <div class="box">
            <a class="bar" ng-click="(showNet || loadedNet) ? '' : chartNet(); showNet = !showNet">
                <span class="icon"><i class="fa fa-signal"></i></span>
                <span class="title">Net Income</span>
                <span class="arrow"><i class="fa" ng-class="{'fa-angle-up upArrow' : showNet, 'fa-angle-down' : !showNet}"></i></span>
            </a>
            <div class="collapse" ng-show="showNet">
                <div class="graph graphNet">
                    <div class="loading" ng-show="!loadingItems"></div>  
                    <canvas width="400" height="200"></canvas>
                </div>
            </div>
        </div>
        
        <div class="box">
            <a class="bar" ng-click="(showRatio || loadedRatio) ? '' : chartRatio(); showRatio = !showRatio">
                <span class="icon"><i class="fa fa-bar-chart"></i></span>
                <span class="title">Choose item</span>
                <span class="arrow"><i class="fa" ng-class="{'fa-angle-up upArrow' : showRatio, 'fa-angle-down' : !showRatio}"></i></span>
            </a>
            <div class="collapse" ng-show="showRatio">
                <div class="graph graphCustom">
                    <div class="loading" ng-show="!loadingItems"></div>
                    <select class="selectItem" ng-show="loadingItems" ng-change="changeItem()" ng-model="selectedItem">
                        <option ng-repeat="item in items" value="{{item.id}}">{{item.label}}</option>
                    </select>
                    <br>
                    <div class="canvas"></div>
                </div>
            </div>
        </div>
        
    </div>
</article>

<script src="lib/chart/ChartNew.js"></script>