<div ng-include src="'menu.html'"></div>
<article class="companyGeneral report">
    
    <div class="subMenu">
        <a class="back" href="" back-button><i class="fa fa-angle-left"></i></a>
        <div class="info infoSubName">
            <span class="name">{{company.companyName}}</span>
            <span class="subName">Balance Sheet</span>
        </div>
        <div class="navCompany"><i class="fa fa-bars"></i></div>
        <div class="popupMenu">
            <div class="barMenu"><i class="fa fa-bars"></i>{{company.companyName}}</div>
            <div class="companyMenu" ng-include src="'partials/companyMenu.html'"></div>
        </div>
    </div>

    <div class="loading" ng-show="loading"></div>   

    <div class="boxes" ng-show="!loading">
        
        <div class="box">
            <a class="bar" ng-click="(showQuick || loadedQuick) ? '' : chartQuickPriv(); showQuick = !showQuick">
                <span class="icon"><i class="fa fa-bar-chart"></i></span>
                <span class="title">Quick ratio</span>
                <span class="arrow"><i class="fa" ng-class="{'fa-angle-up upArrow' : showQuick, 'fa-angle-down' : !showQuick}"></i></span>
            </a>
            <div class="collapse" ng-show="showQuick">
                <div class="graph graphQuickPriv">
                    <div class="loading" ng-show="!loadingItems"></div>  
                    <canvas width="400" height="200"></canvas>
                </div>
            </div>
        </div>
        
        <div class="box">
            <a class="bar" ng-click="(showLiquidity || loadedLiquidity) ? '' : chartLiquidityPriv(); showLiquidity = !showLiquidity">
                <span class="icon"><i class="fa fa-signal"></i></span>
                <span class="title">Liquidity</span>
                <span class="arrow"><i class="fa" ng-class="{'fa-angle-up upArrow' : showLiquidity, 'fa-angle-down' : !showLiquidity}"></i></span>
            </a>
            <div class="collapse" ng-show="showLiquidity">
                <div class="graph graphLiquidityPriv">
                    <div class="loading" ng-show="!loadingItems"></div>  
                    <canvas width="400" height="200"></canvas>
                </div>
            </div>
        </div>
        
        <div class="box">
            <a class="bar" ng-click="(showIncome || loadedBalance) ? '' : chartBalancePriv(); showIncome = !showIncome">
                <span class="icon"><i class="fa fa-area-chart"></i></span>
                <span class="title">Balance Sheet</span>
                <span class="arrow"><i class="fa" ng-class="{'fa-angle-up upArrow' : showIncome, 'fa-angle-down' : !showIncome}"></i></span>
            </a>
            <div class="collapse" ng-show="showIncome">
                <div class="graph graphCustom graphBalancePriv">
                    <div class="loading" ng-show="!loadedBalance"></div>
                    <select class="selectItem" ng-show="loadedBalance" ng-change="changeItemPriv()" ng-model="selectedItem">
                        <option ng-show="name.private" ng-repeat="name in names" value="{{name.private}}">{{name.name}}</option>
                    </select>
                    <br>
                    <div class="canvas"></div>
                </div>
            </div>
        </div>   
        
    </div>
</article>

<script>
    $(function(){
      $.getScript('lib/chart/ChartNew.js');  
    });
</script>